/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#trustap_connection {
    display: inline-block;
}

#trustap_connection button {
    padding: 10px 20px;
    border-radius: 5px;
}

#trustap_connection h5 {
    margin-bottom: 7px;
}

#trustap_connection p {
    font-size: 12px;
    margin-bottom: 10px;
}


.trustap-status-wrapper {
    margin-bottom: 6px;
    line-height: 1.4em;
}

.trustap-status-text {
    font-weight: 500;
    margin-bottom: 4px;
}

.trustap-status-btn .trustap-view-btn {
    display: inline-block;
    padding: 4px 10px;
    font-size: 12px;
    background: #f6f6f6;
    border: 1px solid #dcdcdc;
    color: #333;
    border-radius: 3px;
    text-decoration: none !important;
}

.trustap-status-btn .trustap-view-btn:hover {
    background: #eaeaea;
}